@page "/"

<PageTitle>Início</PageTitle>

<div class="mb-5">
    <h1 class="display-7">Início</h1>
    <p class="lead">
        Esse projeto foi desenvolvido no curso Blazor e tem como
        <br/>
        objetivo servir de estudo prático das mecânicas Blazor e Bootstrap
    </p>
</div>

<div class="d-flex align-items-end">
    <SurveyPrompt Title="Como está sendo o Blazor para você?" />
</div>
